In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

23/03/30 15:08:58 WARN Utils: Your hostname, KavinKishos-Mac-mini.local resolves to a loopback address: 127.0.0.1; using 192.168.1.29 instead (on interface en1)
23/03/30 15:08:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/30 15:08:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/30 15:08:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
spark

In [7]:
type(spark)

pyspark.sql.session.SparkSession

In [14]:
df = spark.read.csv('students2.csv', header=True, inferSchema=True)

In [15]:
df.show()

+--------+----+----------+
|    name| age|experience|
+--------+----+----------+
| Sanjith|  11|         2|
|   Kavin|  10|         1|
|   Mohan|  45|         7|
|1Sanjith|  11|         2|
|  1Kavin|  10|         1|
|  1Mohan|  45|         7|
|    null|   2|         7|
|     mak|   2|      null|
|    null|   2|      null|
|    null|null|         0|
|    null|null|      null|
+--------+----+----------+

In [17]:
df.select('name').show()

+--------+
|    name|
+--------+
| Sanjith|
|   Kavin|
|   Mohan|
|1Sanjith|
|  1Kavin|
|  1Mohan|
|    null|
|     mak|
|    null|
|    null|
|    null|
+--------+

In [18]:
df.na.drop().show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
| Sanjith| 11|         2|
|   Kavin| 10|         1|
|   Mohan| 45|         7|
|1Sanjith| 11|         2|
|  1Kavin| 10|         1|
|  1Mohan| 45|         7|
+--------+---+----------+

In [19]:
df.na.drop(how='any', thresh=2).show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
| Sanjith| 11|         2|
|   Kavin| 10|         1|
|   Mohan| 45|         7|
|1Sanjith| 11|         2|
|  1Kavin| 10|         1|
|  1Mohan| 45|         7|
|    null|  2|         7|
|     mak|  2|      null|
+--------+---+----------+

In [20]:
df.na.drop(how='any', thresh=3).show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
| Sanjith| 11|         2|
|   Kavin| 10|         1|
|   Mohan| 45|         7|
|1Sanjith| 11|         2|
|  1Kavin| 10|         1|
|  1Mohan| 45|         7|
+--------+---+----------+

In [22]:
df.na.drop(how='any', subset=['name']).show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
| Sanjith| 11|         2|
|   Kavin| 10|         1|
|   Mohan| 45|         7|
|1Sanjith| 11|         2|
|  1Kavin| 10|         1|
|  1Mohan| 45|         7|
|     mak|  2|      null|
+--------+---+----------+

In [23]:
df.na.drop(how='any', subset=['experience']).show()

+--------+----+----------+
|    name| age|experience|
+--------+----+----------+
| Sanjith|  11|         2|
|   Kavin|  10|         1|
|   Mohan|  45|         7|
|1Sanjith|  11|         2|
|  1Kavin|  10|         1|
|  1Mohan|  45|         7|
|    null|   2|         7|
|    null|null|         0|
+--------+----+----------+

In [24]:
df.na.drop(how='any', subset=['experience','name']).show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
| Sanjith| 11|         2|
|   Kavin| 10|         1|
|   Mohan| 45|         7|
|1Sanjith| 11|         2|
|  1Kavin| 10|         1|
|  1Mohan| 45|         7|
+--------+---+----------+

In [26]:
df.na.fill('Missing Values',['experience', 'name', 'age']).show()

+--------------+----+----------+
|          name| age|experience|
+--------------+----+----------+
|       Sanjith|  11|         2|
|         Kavin|  10|         1|
|         Mohan|  45|         7|
|      1Sanjith|  11|         2|
|        1Kavin|  10|         1|
|        1Mohan|  45|         7|
|Missing Values|   2|         7|
|           mak|   2|      null|
|Missing Values|   2|      null|
|Missing Values|null|         0|
|Missing Values|null|      null|
+--------------+----+----------+

In [29]:
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['age', 'experience'], outputCols=["{}_imputed".format(c) 
                                                                   for c in ['age', 'experience']]
                 ).setStrategy("mean")

In [31]:
imputer.fit(df).transform(df).show()

+--------+----+----------+-----------+------------------+
|    name| age|experience|age_imputed|experience_imputed|
+--------+----+----------+-----------+------------------+
| Sanjith|  11|         2|         11|                 2|
|   Kavin|  10|         1|         10|                 1|
|   Mohan|  45|         7|         45|                 7|
|1Sanjith|  11|         2|         11|                 2|
|  1Kavin|  10|         1|         10|                 1|
|  1Mohan|  45|         7|         45|                 7|
|    null|   2|         7|          2|                 7|
|     mak|   2|      null|          2|                 3|
|    null|   2|      null|          2|                 3|
|    null|null|         0|         15|                 0|
|    null|null|      null|         15|                 3|
+--------+----+----------+-----------+------------------+