In [6]:
import pyspark
import pandas as pd
pd.read_csv('students.csv')

      name   age   experience
0  Sanjith    11            2
1    Kavin    10            1
2    Mohan    45            7

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

23/03/30 14:14:38 WARN Utils: Your hostname, KavinKishos-Mac-mini.local resolves to a loopback address: 127.0.0.1; using 192.168.1.29 instead (on interface en1)
23/03/30 14:14:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/30 14:14:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
spark

In [12]:
df_spark = spark.read.options(header='true').csv('students.csv')

In [13]:
df_spark.show()

+-------+----+-----------+
|   name| age| experience|
+-------+----+-----------+
|Sanjith|  11|          2|
|  Kavin|  10|          1|
|  Mohan|  45|          7|
+-------+----+-----------+

In [14]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [15]:
csv = pd.read_csv('students.csv')

In [16]:
type(csv)

pandas.core.frame.DataFrame

In [17]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |--  age: string (nullable = true)
 |--  experience: string (nullable = true)

In [18]:
from pyspark.sql import SparkSession

In [19]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

23/03/30 14:25:33 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [20]:
spark

In [55]:
df_spark = spark.read.csv('students.csv', inferSchema=True, header=True)

In [56]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [57]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [58]:
df_spark.columns

['name', 'age', 'experience']

In [59]:
df_spark.take(3)

[Row(name='Sanjith', age=11, experience=2),
 Row(name='Kavin', age=10, experience=1),
 Row(name='Mohan', age=45, experience=7)]

In [60]:
df_spark.select('Name').show()

+-------+
|   Name|
+-------+
|Sanjith|
|  Kavin|
|  Mohan|
+-------+

In [64]:
df_spark.select(['name','experience']).show()

+-------+----------+
|   name|experience|
+-------+----------+
|Sanjith|         2|
|  Kavin|         1|
|  Mohan|         7|
+-------+----------+

In [65]:
df_spark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [66]:
df_spark.describe().show()

+-------+-------+------------------+------------------+
|summary|   name|               age|        experience|
+-------+-------+------------------+------------------+
|  count|      3|                 3|                 3|
|   mean|   null|              22.0|3.3333333333333335|
| stddev|   null|19.924858845171276|3.2145502536643185|
|    min|  Kavin|                10|                 1|
|    max|Sanjith|                45|                 7|
+-------+-------+------------------+------------------+

In [67]:
df_spark.withColumn('Experience After 2 yeds', df_spark['experience']+2).show()

+-------+---+----------+-----------------------+
|   name|age|experience|Experience After 2 yeds|
+-------+---+----------+-----------------------+
|Sanjith| 11|         2|                      4|
|  Kavin| 10|         1|                      3|
|  Mohan| 45|         7|                      9|
+-------+---+----------+-----------------------+

In [68]:
df_spark.drop('Experience After 2 yeds')

DataFrame[name: string, age: int, experience: int]

In [69]:
df_spark.withColumnRenamed('Name', 'New Name')

DataFrame[New Name: string, age: int, experience: int]